* {
  text-decoration: none;
  list-style-type: none;
}
.container {
  border: 1px solid red;
  display: flex;
}
.text-container {
  border: 1px solid red;
}

.text-quick-link {
  color: rgb(14, 99, 168);
}

.text-para-container {
  border: 1px solid grey;
  height: 60vh;
}
.text-algo-description {
  margin: 1em 0;
}

.text-link {
  color: rgb(21, 95, 207);
}
