* {
  text-decoration: none;
  list-style-type: none;
}

.text-container {
  border: 1px solid rgb(207, 207, 207);
  margin: 1em 1em 0 0;
}

.text-quick-link {
  color: rgb(14, 99, 168);
}

.text-para-container {
  height: 60vh;
}
.text-algo-description {
  margin: 1em 0;
}

.text-link {
  color: rgb(21, 95, 207);
}

.text-references-container ul li {
  margin: 1em 0.3em;
}
