* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.container {
  display: flex;
  background-color: rgb(227, 227, 238);
  height: 100vh;
  font-weight: 300;
  color: grey;
  line-height: 1.6em;
}
.visualiser-container {
  width: 60vw;
}
.text-container {
  font-family: "Merriweather", serif;
  margin-top: 3em;
  padding: 0.7em;
  padding-top: 3em;
  background-color: white;
}

.text-title {
  color: red;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
}

.array-container {
  display: flex;
  margin: 0 2em;
}

.array-bar {
  background-color: rgb(237, 62, 67);
  margin: 0.2%;
}

/*--------------- BUTTONS ----------------*/
.app-container,
.button-container {
  align-items: center;
  color: #a8abb5;
  display: flex;
  justify-content: space-between;
  background-color: rgb(48, 51, 62);
}

.app-container {
  height: 3em;
  width: 100vw;
  padding-right: 2em;
}
.button-container {
  border: none;
  width: 50vw;
  margin-left: auto;
}
.app-button {
  color: #a8abb5;
  background-color: rgb(48, 51, 62);
  border: none;
  font-size: 0.8rem;
  text-transform: uppercase;
}

#new-array-button {
  background-color: rgb(70, 190, 94);
  height: 2.5em;
  width: 7em;
  border-radius: 15px;
  color: white;
  font-size: 0.8em;
}

.app-button:hover {
  color: rgb(86, 121, 185);
  cursor: pointer;
}
.text-link {
  color: rgb(70, 190, 94);
  font-weight: 600;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .text-title {
    font-size: 1em;
    margin-bottom: 1rem;
  }
}
