* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
}
.visualiser-container {
  width: 60vw;
  margin-left: auto;
  margin-right: 3em;
  margin-top: 2em;
}

.array-container {
  display: flex;
  margin: 0 2em;
}

.array-bar {
  background-color: rgb(123, 157, 221);
  margin: 0.2%;
}

.app-container {
  display: flex;
  position: fixed;
  list-style-type: none;
  margin: 2em 2em;
  width: 60vw;
}

.app-button {
  border: solid 1px rgb(196, 196, 196);
  background-color: rgb(230, 230, 230);
  color: rgb(9, 9, 61);
  width: 100%;
  padding: 0.6em 1em;
  font-weight: 400;
  height: 100%;
  border-radius: 3px;
  margin: 0 2em 0 0;
}

.app-button:hover {
  color: rgb(86, 121, 185);
  cursor: pointer;
}

#new-array-button {
  margin-right: 9em;
}

@media only screen and (max-width: 780px) {
  .container {
    display: block;
  }
  .visualiser-container {
    width: 90vw;
    margin: none;
  }

  .array-container {
    margin-left: 1em;
    width: 90vw;
  }

  .app-container {
    position: relative;
    margin: 0;
    justify-content: space-evenly;
    width: 90vw;
    margin-left: 1em;
  }

  .app-button {
    border: solid 1px rgb(223, 223, 223);
    width: 8em;
    font-weight: 400;
    height: 3em;
    border-radius: 3px;
    margin: 1em 0;
    padding: 0 1em;
  }

  #new-array-button {
    margin-right: 0;
  }
}
