body {
  margin: 0 1em;
  margin-top: 20vh;
}
.bars {
  width: 3px;
  background-color: rgb(61, 77, 122);
  margin: 0 1px;
}

.array-container {
  border: 1px solid red;
  display: flex;
  margin-bottom: 2em;
}
